
main{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
section{
    border: 1px solid black;
    padding: 200px 200px;
    width: 230px;
}
div{
    display: inline-block;
}
.box{
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
    -webkit-box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
    -moz-box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
}
.left-top{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-left: -204px;
    transition-duration: 1s;
}
.right-top{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-left: -100px;
    transition-duration: 1s;
}
.left-bottom{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-left: -100px;
    transition-duration: 1s;
}
.right-bottom{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-left: -204px;
    transition-duration: 1s;
}
section:hover .left-top{
    bottom: 664px;
    margin-left: -403px;
}
section:hover .right-top{
    bottom: 664px;
    margin-left: 125px;
}
section:hover .right-bottom{
    margin-left: -403px;
    bottom: 157px;
}
section:hover .left-bottom{
    margin-left: 125px;
    bottom: 157px;
}