
section{
    border: 1px solid black;
    padding: 200px 200px;
    width: 230px;
}
div{
    display: inline-block;
}
.container{
    position: relative;
}
.box{
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
    -webkit-box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
    -moz-box-shadow: -1px 3px 70px 7px rgba(0,0,0,0.64);
}
.container-ab{
    position: absolute;
}
.slot{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
}
.slot1{
    left: -230px;
    transition-duration: 1s;
}
.slot2{
    left: -126px;
    transition-duration: 1s;
}
.slot3{
    left: -230px;
    top: 105px;
    transition-duration: 1s;
}
.slot4{
    left: -126px;
    top: 105px;
    transition-duration: 1s;
}
section:hover .slot1{
    margin-top: -200px;
    margin-left: -200px;
}
section:hover .slot2{
    margin-top: -200px;
    margin-left: 226px;
}
section:hover .slot3{
    margin-left: -200px;
    margin-top: 203px;
}
section:hover .slot4{
    margin-left: 226px;
    margin-top: 203px;
}
/*section:hover .slot1{
    left: -430px;
    top: -200px;
}
section:hover .slot2{
    left: 100px;
    top: -200px;
}
section:hover .slot3{
    left: -430px;
    top: 310px;
}
section:hover .slot4{
    left: 100px;
    top: 310px;
}