*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.box{
    display: flex;
    gap: 10px;
    min-width: 500px;
}
img{
    width: 200px;
    height: 60vh;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.photo{
    width: 400px;
    transition: 1s;
}
.back{
    width: 200px;
    transition: 1s;
}