body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: gray;
    align-items: baseline;
    font-size: 20px;
    justify-content: space-between;
    border: 2px solid black;
}
nav{
  background-color: palevioletred;
}
nav>ul>li{
    display: inline;
    list-style: none;
   padding-right: 20px;
}
nav{
    gap: 20px;
}
.new{
  background-color: palevioletred;
  display: none;
  padding: 20px;
}
.new>ul>li{
  display: inline;
  list-style: none;
 padding-right: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn{
    padding: 5px 20px;
  }
  .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.2);
  }
main{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
aside{
    background-color: darkgray;
   min-height: 350px;
}
.aside-img>img{
    max-width: 50vw;
    margin-bottom: 30px;
}
.aside-list>a{
  display: block;
 width: 20vw;
 text-align: center;
  padding: 10px;
  background-color: #2196F3;
  border-radius: 10px;
}
.bg-article{
    display:flex ;
}
section{  
    background-color: darkgray;
}
.card{
    margin-left: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
}
.card-img>img{
    width: 100px;
}
.article-text{
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.plus{
    display: inline-block;
}
.plus-img{
    min-width: 50%;
}
.plus-img>img{
    width:30vw;
}
.plus-text{
}
.description-text{
    background-color: darkgrey;
    width: 100%;
    text-align: center;
}
.settings{
    margin: 30px 20px;
   background-color: rgb(245, 239, 239);
   padding: 50px;
   border-radius: 10px;
   
}
.service{
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.button{
  display: flex;
  gap: 20px;
  margin: 10px 20px;
 float: right;
}
.btn{
  background-color: #2196F3;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.news{
    padding: 5px 10px;
    background-color: #2196F3;
    border-radius: 10px;
}
/*nemelt*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  footer{
    display: flex;
    background-color: palevioletred;
    justify-content: space-between;
    padding: 0 30px;
  }
  footer>a{
   background-color: #2196F3;
   padding: 30px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
  }
  footer>nav{
    display: flex;
    align-items: center;
  }
@media screen and (max-width:992px){
  main{
    flex-direction: column;
  }
  aside{
    display: flex;
    align-items: center;
  }
  .aside-list>a{
    display: inline;

  }
}
@media screen and (max-width:576px){
  header>nav{
    display: none;
  }
  .new{
    display: block;
  }
  aside{
   flex-direction: column;
  }
  .bg-article{
    flex-direction: column;
  }
  .service{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
  footer>nav{
    flex-direction: column;
  }
}