*{
    margin: 0;
    padding: 0;
}
.mountain>img{
    position: relative;
    height: 50vh;
    width: 100vw;
}
h2{
    font-size: 48px;
    position: absolute;
    color: aqua;
    z-index: 2;
    padding: 50px 0 0 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.photo>*{
    padding: 0 10px;
    width: 23vw;
    height: 35vh;
}
@media only screen and (max-width:1200px){
    .photo>*{
        width: 30vw;
       
    }
}
@media only screen and (max-width:992px){
    .photo>*{
        width: 47vw;
    }
}
@media only screen and (max-width:768px){
    .photo>*{
        width: 100vw;
    }
}