
body{
    background-color: rgba(179, 138, 145,0.5);
    padding: 40px 30px;
}
.box{
    display: flex;
    width: 30px;
    padding: 10px 0 10px 15px;
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid rgba(179, 138, 145,0.5);
    box-shadow: -1px 3px 45px -5px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 3px 45px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 3px 45px -5px rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}
input{
    border: 0;
    display: none;
}
.box:active{
    width: 150px;
}
.box:active input{
    display: block;
   width: 100px;
   overflow: hidden;
}

