

.btn-box{
    height: 50px;
    width: 80px;
    border-radius: 50px;
    background-color: blue;
    transition-duration: 1s;
}
.btn-box:active{
    width: 80vw;
}
.hvr-box{
    height: 50px;
    width: 80px;
    border-radius: 50px;
    background-color: green;
    transition-duration: 1s;
}
.hvr-box:hover{
    width: 80vw;
}