

.btn-box{
    height: 50px;
    width: 80px;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0.5);;
    transition-duration: 1s;
}
.btn-box:active{
    width: 80vw;
    background-color: blue;
}
.hvr-box{
    height: 50px;
    width: 80px;
    border-radius: 50px;
    background-color: green;
    transition-duration: 1s;
}
.hvr-box:hover{
    width: 80vw;
    background-color: rgba(0, 255, 0, 0.5);
}